body, ul {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  text-transform: uppercase;
  color: #FFF;
  background-color: #000;
}
.navbar .navbar__logo {
  position: absolute;
}
.navbar .navbar__logo img {
  padding: 0.5rem 2rem;
  width: 3rem;
}

.collapsible {
  text-align: right;
}
.collapsible label {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1.5em;
  font-size: 1.8rem;
}

#menu {
  display: none;
}

input:checked ~ .navbar__menu {
  max-height: 100%;
}

.navbar__btn {
  cursor: pointer;
}
.navbar__btn:hover {
  color: #FFAF6D;
}

.navbar__menu {
  max-height: 0;
  padding: 0;
  overflow: hidden;
}

.navbar__item a {
  display: block;
  text-align: left;
  padding: 0.5em;
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFF;
}
.navbar__item a:hover {
  color: #FFAF6D;
}

@media screen and (min-width: 768px) {
  .collapsible label {
    display: none;
  }

  .navbar__menu {
    max-height: 100%;
    padding: 0.5em 3em 0.5em 0;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
  }
  .navbar__menu .navbar__list {
    align-items: center;
    display: inline-flex;
    list-style: none;
    flex-direction: row !important;
    justify-content: flex-end;
  }
  .navbar__menu .navbar__list .navbar__item {
    margin-left: 2rem;
  }
  .navbar__menu .navbar__list a {
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
  }
  .navbar__menu .navbar__list a:hover {
    color: #FFAF6D;
  }

  .navbar__list {
    display: inline-flex;
    list-style: none;
    flex-direction: row !important;
    justify-content: flex-end;
  }
}
.navbar__list {
  display: flex;
  margin: inherit;
  padding: inherit;
  list-style: none;
  flex-direction: column;
}

.navbar__item a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}

@media (min-width: 568px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 568px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.header__banner {
  text-align: center;
}
.header__banner img {
  max-width: 30rem;
  height: auto;
}

.main {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.main__item {
  display: inline-block;
}

.main__content {
  text-align: center;
}

.main__content--left {
  border: solid black 2px;
}

.main__content--right {
  border: solid black 2px;
}

.main__card {
  border: solid black 1px;
  width: 95%;
  display: inline-block;
  margin: 0.5rem 0;
}
.main__card .main__card--title h4 {
  margin: auto;
  text-align: initial;
  padding: 0 0.4rem;
}
.main__card .main__card--content p {
  margin: auto;
  text-align: justify;
  padding: 0 0.4rem;
}
.main__card .main__card--autor p {
  font-weight: 700;
  margin: auto;
  text-align: justify;
  padding: 0 0.4rem;
}
.main__card .main__card--icon {
  margin-left: 0.2rem;
  text-align: start;
}
.main__card .main__card--icon i {
  margin: 0 0.2rem;
}

.main__about {
  margin: 0.5rem;
}
.main__about .main__about--img img {
  border-radius: 100%;
  border: solid;
  width: 10rem;
}
.main__about .main__about--icon i {
  margin: 0 0.2rem;
}
.main__about .main__about--content {
  margin: auto;
  text-align: justify;
}
.main__about .main__about--more {
  background-color: #2E1503;
  color: #FFF;
}

.main__link ul {
  text-align: start;
}

.main__gif {
  display: inline-block;
  width: 10rem;
  padding: 1rem 0;
}

.main__animation1 {
  animation-name: mover;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes mover {
  0% {
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(10rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
.main__animation2 {
  animation-name: rotate;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 80% 80%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  width: 100%;
  background-color: #000;
  color: #FFF;
  padding: 2rem 0;
}
.footer__copyright {
  text-align: center;
}
.footer__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__contact input {
  margin-bottom: 0.5rem;
}
.footer__contact input:focus {
  background: #FFAF6D;
}
.footer__contact p {
  margin-right: 1rem;
}
.footer__contact a {
  color: #FFF;
  text-decoration: none;
}
.footer__contact a:hover {
  color: #FFAF6D;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 100%;
    background-color: #000;
    color: #FFF;
    padding: 2rem 0;
  }
  .footer__copyright {
    text-align: center;
  }
  .footer__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .footer__contact input {
    margin: 0;
  }
  .footer__contact input:focus {
    background: #FFAF6D;
  }
  .footer__contact p {
    margin-right: 1rem;
  }
  .footer__contact a {
    color: #FFF;
    text-decoration: none;
  }
  .footer__contact a:hover {
    color: #FFAF6D;
  }
}
.footer__btn {
  border: none;
  margin: 0 0.5rem;
  background: #FFAF6D;
  padding: 0.2rem 0.2rem;
  cursor: pointer;
}
.footer__btn:hover {
  background-color: #FFF;
}

/*# sourceMappingURL=style.css.map */
