.main {
    display: flex;
    justify-content: center;
}

.main__item {
    display: inline-block;
}

.main__content {
    text-align: center;
}

.main__content--left {
    border: solid black 2px;
}

.main__content--right {
    border: solid black 2px;
}

.main__card {
    border: solid black 1px;
    width: 95%;
    display: inline-block;
    margin: 0.5rem 0;
    .main__card--title {
        h4 {
            margin: auto;
            text-align: initial;
            padding: 0 0.4rem;
        }
    }
    .main__card--content {
        p {
            margin: auto;
            text-align: justify;
            padding: 0 0.4rem;
        }
    }
    .main__card--autor {
        p {
            font-weight: 700;
            margin: auto;
            text-align: justify;
            padding: 0 0.4rem;
        }
    }
    .main__card--icon {
        margin-left: 0.2rem;
        text-align: start;
        i {
            margin: 0 0.2rem;
        }
    }
}

.main__about {
    margin: 0.5rem;
    .main__about--img {
        img {
            border-radius: 100%;
            border: solid;
            width: 10rem;
        }
    }
    .main__about--icon {
        i {
            margin: 0 0.2rem;
        }
    }
    .main__about--content {
        margin: auto;
        text-align: justify;
    }
    .main__about--more {
        background-color: $charcoal;
        color: $white;
    }
}

.main__link {
    ul {
        text-align: start;
    }
}

.main__gif {
    display: inline-block;
    width: 10rem;
    padding: 1rem 0;
}

.main__animation1 {
    animation-name: mover;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes mover {
    0% {
        transform: translateX(0rem);
    }
    50% {
        transform: translateX(10rem);
    }
    100% {
        transform: translateX(0rem);
    }
}

.main__animation2 {
    animation-name: rotate;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 80% 80%;
}
@keyframes rotate { 
    0%{ 
        transform: rotate(0deg); 
    }
    100%{ 
        transform: rotate(360deg); 
    }
  }